name: CI Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Checkout code
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Build Docker image
      - name: Build Docker image
        run: docker build -t prasanth7660/cicd-practice:latest .

      # 3️⃣ Run Docker container (CI verification)
      - name: Run Docker container
        run: docker run prasanth7660/cicd-practice:latest

      # 4️⃣ Login to Docker Hub
      - name: Docker login
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      # 5️⃣ Push image to Docker Hub
      - name: Push Docker image
        run: docker push prasanth7660/cicd-practice:latest
